variables:

stages:
  - build
  - analysis
  - docs
  - deploy

# Recipe for setting up the build
# @PROJECT_DEPS: the dependencies of the project (on Fedora)
# @MESON_VERSION: the version of Meson required by the project
.build-setup:
  image: fedora:latest
  before_script:
    # Undo delangification present in the Fedora Docker images
    - rm -f /etc/rpm/macros.image-language-conf
    - dnf reinstall -y glib2 glibc || dnf update -y glib2 glibc
    # Add French locale support for tests
    - dnf install -y glibc-langpack-fr
    - dnf install -y ${PROJECT_DEPS}
    - pip3 install --user meson==${MESON_VERSION}
    - export PATH="$PATH:$HOME/.local/bin"

# Default build recipe
# @PROJECT_DEPS: the dependencies of the project (on Fedora)
# @MESON_VERSION: the version of Meson required by the project
# @MESON_EXTRA_FLAGS: extra arguments for the meson setup invocation
.build-default:
  image: fedora:latest
  before_script:
    # Undo delangification present in the Fedora Docker images
    - rm -f /etc/rpm/macros.image-language-conf
    - dnf reinstall -y glib2 glibc || dnf update -y glib2 glibc
    # Add French locale support for tests
    - dnf install -y glibc-langpack-fr
    - dnf install -y ${PROJECT_DEPS}
    - pip3 install --user meson==${MESON_VERSION}
    - export PATH="$PATH:$HOME/.local/bin"
  script:
    - meson setup ${MESON_EXTRA_FLAGS} --prefix /usr _build .
    - meson compile -C _build
    - meson install -C _build
    - meson test -C _build
  artifacts:
    reports:
      junit: "_build/meson-logs/testlog.junit.xml"
    when: always
    name: "libgweather-${CI_COMMIT_REF_NAME}"
    paths:
      - "${CI_PROJECT_DIR}/_build/meson-logs"

# Inherit to build the API reference via gi-docgen
# @PROJECT_DEPS: the dependencies of the project (on Fedora)
# @MESON_VERSION: the version of Meson required by the project
# @MESON_EXTRA_FLAGS: extra arguments for the meson setup invocation
# @DOCS_FLAGS: doc-related arguments for the meson setup invocation
# @DOCS_PATH: the docs output directory under the build directory
.gidocgen-build:
  image: fedora:latest
  before_script:
    - export PATH="$HOME/.local/bin:$PATH"
    - dnf install -y python3 python3-pip python3-wheel gobject-introspection-devel graphviz ninja-build redhat-rpm-config
    - dnf install -y ${PROJECT_DEPS}
    - pip3 install --user meson==${MESON_VERSION} gi-docgen jinja2 Markdown markupsafe pygments toml typogrify
  script:
    - meson setup ${MESON_EXTRA_FLAGS} ${DOCS_FLAGS} _docs .
    - meson compile -C _docs
    - |
      pushd "_docs/${DOCS_PATH}" > /dev/null
      tar cf ${CI_PROJECT_NAME}-docs.tar .
      popd > /dev/null
    - mv _docs/${DOCS_PATH}/${CI_PROJECT_NAME}-docs.tar .
  artifacts:
    when: always
    name: 'Documentation'
    expose_as: 'Download the API reference'
    paths:
      - ${CI_PROJECT_NAME}-docs.tar

fedora-x86_64:
  extends: .build-default
  stage: build
  needs: []
  variables:
    PROJECT_DEPS:
      geocode-glib-devel
      gettext
      git
      gobject-introspection-devel
      gtk3-devel
      itstool
      libsoup-devel
      libxml2-devel
      ninja-build
      pylint
      python3
      python3-gobject
      python3-pip
      python3-wheel
      redhat-rpm-config
      vala
    MESON_VERSION: "0.55.3"
    MESON_EXTRA_FLAGS: "--buildtype=debug -Dwerror=true -Dgtk_doc=false"

abi-check:
  extends: .build-setup
  stage: analysis
  needs: []
  variables:
    PROJECT_DEPS:
      geocode-glib-devel
      gettext
      git
      gobject-introspection-devel
      gtk3-devel
      itstool
      libabigail
      libsoup-devel
      libxml2-devel
      ninja-build
      pylint
      python3
      python3-gobject
      python3-pip
      python3-wheel
      redhat-rpm-config
      vala
    MESON_VERSION: "0.55.3"
    LAST_ABI_BREAK: f1f0bdd9ab47ff8ddba17e2125802c928226da64
  script:
    - meson setup --prefix /usr -Dgtk_doc=false _build .
    - meson compile -C _build
    - ./.ci/check-abi ${LAST_ABI_BREAK} $(git rev-parse HEAD)

reference:
  stage: docs
  needs: []
  extends: .gidocgen-build
  variables:
    PROJECT_DEPS:
      geocode-glib-devel
      gettext
      git
      gobject-introspection-devel
      gtk3-devel
      itstool
      libsoup-devel
      libxml2-devel
      ninja-build
      pylint
      python3
      python3-gobject
      python3-pip
      python3-wheel
      redhat-rpm-config
      vala
    MESON_VERSION: "0.55.3"
    DOCS_FLAGS: -Dgtk_doc=true
    DOCS_PATH: doc/libgweather-3.0

pages:
  stage: deploy
  needs: ['reference']
  script:
    - mkdir public && cd public
    - tar xf ../${CI_PROJECT_NAME}-docs.tar
  artifacts:
    paths:
      - public
  only:
    - master
    - main
