/*** BEGIN file-header ***/
#pragma once

#if !(defined(IN_GWEATHER_H) || defined(GWEATHER_COMPILATION))
#error "gweather-enum-types.h must not be included individually, include gweather.h instead"
#endif

#include <glib-object.h>
#include <libgweather/gweather-version.h>

G_BEGIN_DECLS
/*** END file-header ***/

/*** BEGIN file-production ***/

/* enumerations from "@basename@" */
/*** END file-production ***/

/*** BEGIN value-header ***/

_GWEATHER_EXTERN
GType @enum_name@_get_type (void) G_GNUC_CONST;
#define GWEATHER_TYPE_@ENUMSHORT@ (@enum_name@_get_type ())
/*** END value-header ***/

/*** BEGIN file-tail ***/

G_END_DECLS
/*** END file-tail ***/
